/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
 .heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.collaborationRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}

.collaborationColumn {
    flex: 1;
    padding: 0 15px; /* adjust as needed */
}
.collaborationLogos {  /* Styles for the new wrapper */
  gap: 0; /* Removes gap between columns */
}
.logoCol {
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0; 
}

.flexibleLogoUI {
  width: 30%;
  max-width: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  height: auto;
}

.flexibleLogoPTI {
  width: 50%;
  max-width: 130px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  height: auto;
}

.flexibleLogoShaka {
  width: 55%;
  max-width: 160px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  height: auto;
}

.flexibleLogoTM {
  width: 65%;
  max-width: 180px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 45px;
  height: auto;
}

.flexibleLogo {
  width: 30%;
  max-width: 120px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  height: auto;
}